<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script>
        $(document).ready(function() {
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        function search() {
            window.location.pathname = '/restaurant/'+document.getElementById("searchBy").value+'/'+document.getElementById("searchV").value
        }
    </script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h5><a href="/logout">Log out</a></h5>
    <h2>Welcome
        <%= name %> into Restaurant System !!</h2>
    <H2>Number of Restaurant (
        <%= nData %>)</H2>
    <p>Type something in the input field to search the table for restaurant:</p>
<!--    <input id="myInput" type="text" placeholder="Search..">-->
    <div class="search-container">

            Search By
            <select id="searchBy">
                <option value="name">name</option>
                <option value="cuisine">cuisine</option>
                <option value="borough">borough</option>
            </select>
            <input type="text" placeholder="Search.." id="searchV" value="" required>
            <button type="button" onclick = "search()">Submit</button>

    </div>

    <a href="/insert"><button type="button">Insert</button></a>
    <br><br>

    <table>
        <thead>
            <tr>
                <th>
                    <h5>ID</h5>
                </th>
                <th>
                    <h5>name</h5>
                </th>
                <th>
                    <h5>borough</h5>
                </th>
                <th>
                    <h5>cuisine</h5>
                </th>
            </tr>
        </thead>
        <tbody id="myTable">
            <% for (var b of bookings) { %>
                <tr>
                    <td>
                        <h5>
                            <a href="/details?_id=<%= b._id %>">
                                <%= b.restaurant_id %>
                            </a>
                        </h5>
                    </td>
                    <td>
                        <h5>
                            <a href="/details?_id=<%= b._id %>">
                                <%= b.name %>
                            </a>
                        </h5>
                    </td>
                    <td>
                        <h5>
                            <a href="/details?_id=<%= b._id %>">
                                <%= b.borough %>
                            </a>
                        </h5>
                    </td>
                    <td>
                        <h5>
                            <a href="/details?_id=<%= b._id %>">
                                <%= b.cuisine %>
                            </a>
                        </h5>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <div class="modal fade" id="del_msg" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <h5 id=result></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>